.husky/*
.prettierignore
.gitattributes
.gitignore
.npmrc
.idx/dev.nix
public/.assetsignore
LICENSE
**/*.gitkeep
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.avif
**/*.mp4
**/*.mp3
**/*.woff
**/*.woff2
**/*.ttf
**/*.otf
**/*.txt