@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --font-inter: var(
    --astro-font-inter,
    "Inter",
    ui-sans-serif,
    system-ui,
    sans-serif
  );
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply font-sans;
  }
}
