---
import Standard from "@/layouts/Standard.astro";
---

<Standard
	title="Eminence Astro Start"
	description="A better starting point for developing sites using Astro to be deployed on Cloudflare."
>
	<h1>Welcome to Eminence Astro Starter</h1>
</Standard>
